
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
 }


.navbar {
  background-color:#fabd44;
  outline:4px solid #ecd5a7;
  height:113px;
}

.logopage {
  position: relative;
  bottom: 15px;
  height: 75px;
}

.banner_text {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  top:10px;
  right: 100px;
  width:30%;
  color:#1b1b1a;
  padding:24px;
  text-shadow: 1px 1px rgb(6, 6, 6);
}


.main {
  background-image: url('/Resident4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 28px;
  background-color: #BDCCCC;
}


.footer {
  height:100px;
  background-color: rgb(8, 8, 8);
  outline:1px solid #f8bb41;
  color:#fff;
}

.thumbail_container {
  position: relative;
  left:80px;
  display:grid;
  grid-template-areas: 
  "first second"
  "three four";
  gap:20px;
}

.news_text {
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
  right:499px;
  bottom:13px;
  color:#0c0b0b;
  background-color: #f0c22b;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  outline: 4px solid #394ae4;
  padding:6px;
  border-radius:4px;
 }

 .news_image {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
 }

.read_more {
  font-size: 1.5rem;
  color:#0c0b0b;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0c22b;
  position: absolute;
  bottom:10px;
  right:200px;
  outline: 2px solid #394ae4;
  border-radius: 4px;
  padding:6px;
}